* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #edffd9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 155px;
}
.device {
  border-radius: 60px;
  background-color: #b65436;
  border: 1px solid #ec704a;
  box-shadow: 2px 2px 10px 10px #3a3042, 0 0 20px 20px #db9d47;
}
.outerContainer {
  background-color: #ff784f;
  border-radius: 60px;
  padding: 30px;
  /* box-shadow: 2px 2px 10px 10px #3a3042; */
  border: 30px solid #ec704a;
  border-top: 30px solid rgba(236, 112, 74, 0.4);
  border-bottom: 30px solid #cf6646;
  box-shadow: 2px 2px 10px 10px #3a3042;
  /* margin: 2px; */
}
.header {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  font-size: 1.4rem;
  color: #fcd271;
  text-shadow: 0 1px 0 #a38181, 0 2px 0 #856868, 0 3px 0 #8a8585,
    0 4px 0 #9c7676, 0 5px 0 #1a1919, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
.header h1 {
  font-family: "Eagle Lake", cursive;
  font-stretch: extra-condensed;
  transform: scaleY(1.7);
  margin-bottom: 30px;
}
.header span {
  font-family: "Roboto Mono", monospace;
  font-stretch: extra-condensed;
  font-size: 2rem;
  font-weight: 900;
}
.screen {
  width: 560px;
  height: 500px;
  background-color: #e5e5e5;
  border: 1px inset #eeecec;
  outline: 1px outset #eeecec;
  padding: 0;
}
.divGrid {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}
.pixel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-self: center;
}
.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.divClear {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px dashed #e5e5e5;
  box-shadow: 3px 3px 10px #3a3042;
  cursor: pointer;
}
.divCLear:focus,
.clear:focus {
  opacity: 0.2;
  box-shadow: 3px 3px 10px #3a3042;
}
.clear {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  border: 15px dashed #ff784f;
  outline: 0px dashed #ff784f;
  box-shadow: 3px 3px 5px #3a3042;
}
.slidecontainer {
  width: 35%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #ff784f;
}
.slidecontainer p {
  margin-bottom: 20px;
  color: #ffe19c;
  text-shadow: 2px 2px 3px #3a3042;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 5px;
  border: 1px groove #ff784f;
  outline: 2px groove #ff784f;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #000;
  outline: #c47d0d;
  border-radius: 15px;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border: 2px groove #aaa6ad;
  box-shadow: 1px 1px 1px #aaa6ad;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: rgb(176, 149, 199);
  border-radius: 8px;
  border: 5px ridge #b095c7;
  outline: 1px groove #d4b0f1;
  cursor: pointer;
  border-radius: 4px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}
/* Color Picker */
.color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.color h3 {
  margin-top: -10px;
  margin-bottom: 10px;
}
.colorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px ridge #ff784f;
  outline: 2px ridge #ff784f;
  padding: 7px 4px 4px 4px;
  padding-right: 55px;
  box-shadow: 2px 2px 1px 1px #91442d;
  color: #ffe19c;
  text-shadow: 1px 1px 1px #3a3042;
}
.colorContainer label {
  color: #ffe19c;
  text-shadow: 2px 2px 3px #3a3042;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  padding-top: 4px;
  border: 1px groove #ff784f;
  outline: 2px groove #ff784f;
}
.colorPicker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
  align-items: center;
}
.colorPicker input {
  height: 92px;
  width: 44px;
}
.preColors {
  margin-right: -50px;
}
.preColors label {
  padding: 17px 5px 0.1px;
}
.rainbowColor button,
.darkColor button,
.randomColor button {
  width: 44px;
  height: 41px;
  cursor: default;
  border: 4px solid #e5e5e5;
}
.rainbowColor button {
  background-image: linear-gradient(
    to bottom,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}
.darkColor button {
  background: #3a3042;
}
.randomColor button {
  /* background-image: linear-gradient(red, yellow, green); */
  background: repeating-linear-gradient(red, yellow 10%, green 20%);
}
/* Footer */
footer {
  padding-top: 50px;
  padding-bottom: 60px;
  color: #303030;
  text-shadow: 1px 1px 1px#c47d0d;
  font-size: 1.5rem;
  text-align: center;
  background-color: #3a3042;
  width: 100%;
  margin-top: 0 auto;
  height: 15%;
}
.row {
  display: flex;
  background-color: #3a3042;
  justify-content: center;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.social-links {
  display: flex;
  width: 150px;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 8px;
}
.social-links img {
  width: 45px;
  height: 50px;
}
.social-links img:first-child {
  border-radius: 8px;
}
footer a,
footer a:visited {
  color: #525252;
}
footer a:hover,
footer a:focus {
  color: #fff;
}
